.movies-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies-cards__container {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 30px;
    margin: 70px auto 30px;
    transition: .3s ease-in-out;
}

.movies-cards__more-button {
    width: 28%;
    min-height: 36px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    margin: 50px auto 80px;
    transition: .3s ease-in-out;
}

.movies-cards__more-button:hover {
    opacity: .6;
}

.movies-cards__more-button_saved {
    /*display: none;*/
    margin: 122px auto 0;
    opacity: 0;
}