.card {
    width: 364px;
    max-height: 271px;
    background-color: #FDFDFD;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in-out;
}

.card__menu {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0 14px;
}

.card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card__title {
   font-size: .9rem;
   font-weight: 500;
   color: #000;
   margin-block: 0;
   margin: 0 0 9px;
}

.card__duraton {
    font-size: .68rem;
    font-weight: 300;
    margin-block: 0;
    color: #A0A0A0; 
}

.card__save-button {
    width: 30px;
    height: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__save-button_active {
    width: 30px;
    height: 30px;
    background-color: #2BE080;
}

.card__save-icon {
    width: 10px;
    height: 13px;
    background-image: url(../../images/save-movie.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__save-icon_saved {
    width: 8px;
    height: 8px;
    rotate: 45;
    background-image: url(../../images/delete-card.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__save-icon_active {
    background-image: url(../../images/save-movie_active.svg);
}

.card__trailer-link {
    width: 100%;
    height: 203px;
}

.card__image {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-in-out;
}

.card__hide {
    display: none;
}

@media screen and (max-width: 1200px) {
    .card__trailer-link {
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 300px;
        max-height: 236px;
    }

    .card__trailer-link {
        height: 168px;
    } 
}