.not-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.not-found__container {
    width: 100%;
    margin: 246px auto 0;
}

.not-found__title {
    font-size: 8.75rem;
    font-weight: 300;
    color: #000;
    text-align: center;
    margin-block: 0;
    transition: 1s ease-in-out;
}

.not-found__subtitle {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    text-align: center;
    margin: 5px 0 184px;
    transition: 1s ease-in-out;
}

.not-found__button {
    font-size: .87rem;
    font-weight: 300;
    color: #FF6838;
    text-align: center;
    background-color: transparent;
    border: none;
    transition: .3s ease-in-out;
}

.not-found__button:hover {
    opacity: .7;
}

@media screen and (max-width: 1141px) {
    .not-found__container {
        margin: 408px auto 0;
    }

    .not-found__button {
        margin: 0 0 222px;
    }
}

@media screen and (max-width: 767px) {
    .not-found__title {
        font-size: 5rem;
    }

    .not-found__subtitle {
        font-size: .75rem;
        margin: 10px 0 284px;
    }

    .not-found__button {
        font-size: .75rem;
        margin: 0 0 30px;
    }
}