.techs {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.techs__conteiner {
    width: 1141px;
    transition: 1s ease-in-out;
}

.techs__title {
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 300;
    letter-spacing: -4%;
    text-align: center;
    color: #000;
    margin: 90px 0 26px;
    transition: 1s ease-in-out;
}

.techs__subtitle {
    max-width: 460px;
    font-size: .7rem;
    line-height: 1.25rem;
    font-weight: 300;
    letter-spacing: -4%;
    text-align: center;
    color: #000;
    margin: 0 auto;
    transition: 1s ease-in-out;
}

.techs__blocks {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    line-height: 1.25rem;
    font-weight: 300;
    letter-spacing: -4%;
    text-align: center;
    color: #000;
    margin: 100px auto;
    transition: 1s ease-in-out;
}

.techs__block {
    width: 100%;
    min-height: 60px;
    background-color: #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.techs__block:last-of-type {
    margin: 0;
}


@media screen and (max-width: 1141px) {
    .techs__conteiner {
        width: 86%
    }

    .techs__blocks {
        width: 100%;
        margin: 83px auto 90px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        background-color: #fff;
    }
    .techs__conteiner {
        width: 86%;
        margin: 0 0 70px;
    }

    .techs__blocks {
        width: 100%;
        margin: 83px auto 90px;
    }

    .techs__title {
        font-size: 1.8rem;
        margin: 60px 0 24px;
    }

    .techs__subtitle {
        max-width: 91%;
        font-size: .68rem;
        line-height: 1rem;
    }

    .techs__blocks {
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        margin: 50px auto 0;
    }
}